/* NOTE debug code*/

/* body.debug .container,
    body.debug .container-fluid {
        outline: 2px double blue;
        outline-offset: -2px;
    }

    body.debug .row {
        outline: 2px dashed red;
        outline-offset: -2px;
    }

    body.debug [class*="col-"] {
        outline: 2px dotted forestgreen;
        outline-offset: -3px;
    } */



/* NOTE begin custom styling  */


/* NOTE variables */

:root {
    --mainColor: #fff;
    --accentOne: #CC2132;
    --accentTwo: #000;
    --accentThree: #7D8491;
    --accentFour: #ff99a3;

    --glassOne: rgba(0, 0, 0, 0.55);
    --glassTwo: rgba(0, 0, 0, 0.1);

    --textOne: #000;
    --textTwo: #fff;
    --textThree: #7D8491;
    --textFour: #CC2132;

    --borderOne: var(--accentOne);
    --borderTwo: var(--accentTwo);

    --aboutOverhang: 5rem;
    --borderBottom: 0.5rem;
    --navHeight: 5.5rem;
    --scrollPad: 1.85rem;
    --trasition: 120ms;
    --borderRad: 0.15rem;
}

/* NOTE Google Material Symbols Styles*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }


/* NOTE media query start*/

/* NOTE med screen breakpoint */
@media (max-width: 768px) {

:root {
    --aboutOverhang: 0 !important;
}

    .md-van {
        display: none;
        height: 0;
        overflow: hidden;
    }

    header {
        padding: 0;
    }

    nav {
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    nav:hover {
        max-height: 75vh;
        height: calc((var(--navHeight) * 2.5) + var(--borderBottom));
    }

    .anchor-container {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start !important;
    }

    .nav-logo {
        height: var(--navHeight);
        max-height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    .nav-collapse {
        padding: 0;
        margin: 0;
        height: 100%;
        align-content: flex-start;
        justify-content:flex-start !important;
        overflow: hidden;
    }

    .nav-collapse a{
        height: calc(var(--navHeight) / 3) !important;
    }

    .page-intro {
        padding-right: 2rem !important;
    }

    .intro-card {
        padding: 2.2rem 0 !important;
    }

    .testimonial-card-spacer {
        width: 100% !important;
        min-width: none !important;
        margin: 1rem 0;
    }
}

@media (max-width: 992px) {
    .lg-van {
        display: none;
        height: 0;
        overflow: hidden;
    }
}
/* NOTE media query end */



/* NOTE base style start */
body{font-family: 'Work Sans', 'arial', sans-serif;}

header {
    background-color: var(--mainColor);
    color: var(--textOne);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    padding: 0.4rem 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.3rem 0;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.2rem 0;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.15rem 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

p .light {font-weight: 200;}

p .bold {font-weight: 600;}

p .bolder {font-weight: 800;}

.anchor{
    position:absolute;
    z-index: 100;
    height: 0;
    width: 0;
    display: hidden;
    padding-top: calc(var(--navHeight) + var(--scrollPad)) !important;
    margin-top: calc((var(--navHeight) * -1) - var(--scrollPad)) !important;
}


.overhang-comp {
    margin-top: var(--aboutOverhang);
}

/* NOTE base style end */



/* NOTE utility styles start */
.oswald-sans {font-family: 'Oswald', sans-serif !important;}

.work-sans {font-family: 'Work Sans', sans-serif !important;}

.text-one {color: var(--textOne);}

.text-two {color: var(--textTwo);}

.text-three {color: var(--textThree);}

.text-four {color: var(--textFour);}

.text-shadow {text-shadow: 0rem 0rem 0.2rem black;}
/* NOTE utility styles end */


/* NOTE navigation start */

nav {
    max-height: 25vh;
    color: var(--textOne);
    background-color: var(--mainColor);
    height: var(--navHeight);
    border-width: 0 0 var(--borderBottom) 0;
    border-color: var(--borderOne);
    border-style: solid;
    overflow: hidden;
    transition: var(--trasition);
    box-shadow: 0 4px 8px 0 var(--glassOne);
}

.nav-logo {
    height: var(--navHeight);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
}

.nav-logo img {
    height: 70%;
    max-width: 90%;
    display: flex;
}

.nav-collapse {
    display: flex;
    justify-content:end;
    height: 100%;
}

.nav-collapse a{
    text-decoration: none;
    color: var(--textOne);
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    transition: var(--trasition);
}

.nav-collapse a:hover {
    background-color: var(--borderOne);
    color: var(--textTwo);
}

/* NOTE navigation end */



/* NOTE slider section start */
.page-intro {
    min-height: 65vh;
    color: var(--textTwo);
    background-color: var(--accentThree);
    background-image: url(assets/images/watch3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 2rem 0 2rem 2rem;
}

.image-text {
    width: 80%;
    border-style: solid;
    padding: 0.5rem calc((var(--bs-gutter-x) * .5) + 1rem) 0.5rem 0.5rem;
    border-width: 0 0 0 0.5rem;
    border-color: var(--accentOne);
    background: var(--glassOne);
    box-shadow: 0 4px 30px var(--glassTwo);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
/* NOTE slider section end */



/* NOTE section one start */
.section-one {
    background-color: var(--accentOne);
    color: var(--textTwo);
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}


.intro-card-container {
    color: var(--textOne);
    background-color: var(--mainColor);
    height: calc(100% + var(--aboutOverhang));
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 var(--glassOne);
    border: 0;
    border-radius: var(--borderRad);
}

.intro-card {
    height: 3rem;
    padding: 0.8rem 0;
    width: 100%;
}

.intro-card .icon {
    height: 100%;
    width: calc(height);
    padding: 0 1rem;
    color: var(--accentOne);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-card .icon span {
    font-size: 2rem;
}

.intro-card .description {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
}

.intro-card .description p {
    margin: 0;
}
/* NOTE section one end */



/* NOTE section two start */
.section-two {
    background-color: var(--mainColor);
    padding: 0 0 2.5rem 0;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.section-two .icon span{
    color: var(--textOne);
    font-size: 4rem;
}

.section-two .cus-des .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4rem;
    width: 100%;
}

.section-two .cus-des .button-container button {
    width: 10rem !important;
}

/* NOTE section two end */



/* NOTE testimonials start */

.section-three {
    background-color: var(--accentThree);
    background-image: url(assets/images/watch1.jpg);
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.testimonial-card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.testimonial-card-spacer {
    width: 25vw;
    min-width: 15rem;
}

.testimonial-card {
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 var(--glassOne);
}

.testimonial-card .star {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0 0 1.5rem 0;
}

.testimonial-card .star>div {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.70rem 1rem 1rem 1rem;
    background-color: var(--accentFour);
    color: var(--textTwo);
    transition: var(--trasition);
}

.testimonial-card .star>div>span {
    font-size: 3.2rem;
}

.testimonial-card .quotes{
    color: var(--textThree);
    font-size: medium;
    font-weight: 600;
    transition: var(--trasition);
}

.testimonial-card .quotes h4::before {
    font-family: 'Secular One', sans-serif;
    content:'“ ';
    font-size: 2rem;
    font-weight: 400;
}

.testimonial-card .links {
    padding: 1rem 0 0 0;
}

.testimonial-card .links a{
    color: var(--accentFour);
    transition: var(--trasition);
    height: 100%;
    padding: 0.3rem;
    border: 0;
    border-radius: 0.5rem;
}

.testimonial-card .links a:hover {
    color: var(--textOne) !important;
    background-color: #ffbdc4;
    cursor: pointer;
}

.testimonial-card:hover .star>div{
    background-color: var(--accentOne);
}

.testimonial-card:hover .links a{
    color: var(--accentOne);
}

.testimonial-card:hover .quotes {
    color: var(--textOne);
}

.testimonial-card-spacer .current .star>div{
    background-color: var(--accentOne) !important;
}

.testimonial-card-spacer .current .links a{
    color: var(--accentOne) !important;
}

.testimonial-card-spacer .current .quotes {
    color: var(--textOne) !important;
}


/* NOTE testimonials end */



/* NOTE footer start */
.foot-one {
    background-color: var(--accentOne);
    color: var(--textTwo);
}

.foot-two {
    background-color: var(--accentTwo);
    color: var(--textTwo);
    text-align: center;
}
/* NOTE footer end */


/* NOTE button styles start*/
.btn-cus-1 {
    background-color: var(--mainColor);
    border: var(--accentOne) solid 0.1rem;
    color: var(--textFour);
    font-weight: bold;
}

.btn-cus-1:hover {
    background-color: var(--accentOne);
    color: var(--textTwo);
}

.btn-cus-1:active {
    background-color: var(--accentTwo) !important;
}


.btn-cus-2 {
    background-color: var(--accentOne);
    color: var(--textTwo);
    border: 0 !important;
}

.btn-cus-2:hover {
    background-color: var(--accentTwo) !important;
    color: var(--textTwo) !important;
}

.btn-cus-2:active {
    background-color: var(--accentThree) !important;
    border: 0 !important;
    color: var(--textTwo) !important;
}
/* NOTE button styles end */



/* NOTE form start */
.form-container {
    background-color: var(--mainColor);
    width: 100%;
    padding: 1rem 2rem;
    border: 0;
    border-radius: var(--borderRad);
}

.form-one-cus form .cus-input .phone {
    width: 95%;
}

.form-one-cus form .cus-input .check {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
}

.form-one-cus form .check input{
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1rem;
}

.form-one-cus form .cus-input textarea {
    margin-bottom: 1rem;
    width: 100%;
}

.form-one-cus form .cus-input input {
    margin-bottom: 1rem;
    width: 100%;
}

.form-one-cus form .check input {
    width: 1rem;
}

.form-one-cus form .check label {
    color: var(--textOne);
    padding-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
    margin-bottom: 1rem;
}
/* NOTE form end */

/* Aulero99 - April 2023 */